/* src/Decorations/widget.module.css */
.widget_widget {
  white-space: normal;
  padding: 0.7rem;
  background: #2a2a2a;
  > p {
    margin: 0;
  }
  cursor: pointer;
}
.widget_widget + br {
  display: none;
}
