.widget {
	white-space: normal;
	padding: 0.7rem;
	background: var(--oib-reference-background, #2a2a2a);
	> p {
		margin: 0;
	}
	cursor: pointer;
}

.widget+br {
	display: none;
}

.widget :global(.footnotes) {
	display: none;
}

.footnote {
}
