@import "variables.css";

.small-caps {
	font-variant: small-caps;
}

.references {
	font-size: 0.7em;
	padding-bottom: 0.5rem;
	display: inline-block;
}

.bible-link-indication {
	color: var(--link-color);
}
